* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-active {
  transform: translateX(0);
}

body {
  background-color: #fff;
  color: #000;
}

header {
  position: sticky;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 12vh;
  align-items: center;
  padding: 30px 100px;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: transform 0.5s ease-in;
}

header.sticky {
  padding: 10px 100px;
  background-color: rgb(0, 0, 179);
}

header .logo {
  position: relative;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header .logo span {
  font-weight: 800;
  font-size: 0.8em;
  color: #000;
  text-transform: none;
  letter-spacing: 1.5px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  list-style-type: none;
  position: relative;
}
header ul li a {
  font-size: 0.8em;
  position: relative;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-decoration: none;
  margin: 0 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
}

.bannerRelative {
  position: relative;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('Image/Wallpaper.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h3 {
  color: #fff;
  z-index: 1000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2em;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header.sticky .logo,
header.sticky ul li a,
header.sticky .logo span {
  color: #fff;
}

header.sticky .burger div {
  background-color: #fff;
}

/*FirstSection*/

.firstSectionHeader h2 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*News*/
.news {
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.news .tab-new {
  width: 40%;
  height: 100%;
  border: 0.1px solid black;
}

.tab-new img {
  width: 100%;
}

.tab-new h3 {
  padding: 20px 20px 0px 20px;
}

.tab-new p {
  padding: 20px;
  line-height: 1.5em;
  font-weight: 800;
}

.tab-new .tabWriter {
  padding: 0 20px 20px 20px;
  color: blue;
}

/*Footer*/

.Footer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  color: white;
  padding: 0px 100px;
}

.FooterContact ul li {
  list-style-type: square;
}
.Footer .FooterContact {
  line-height: 1.5em;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.FooterContact h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: black;
  color: #fff;
  width: 100%;
  letter-spacing: 2px;
  font-size: 0.9em;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Burgur Toggle Cross */
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
} 

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/*Players*/
.playerHeader h1 {
  font-size: 1.4em;
  font-weight: 600;
  padding-left: 25px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.playerPosition h1 {
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;
}

.players {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  justify-content: space-around;
  display: flex;
}

.playerBg {
  position: relative;
  width: 30%;
}

.player-tab {
  background-image: url('Image/PlayerImg/PlayerBg.jpg');
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.player-tab::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.player-tab img {
  width: 30%;
  z-index: 100;
}

.player-tab h2 {
  z-index: 100;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
}

.player-tab h3 {
  z-index: 100;
  color: white;
  font-size: 0.95em;
  letter-spacing: 1.5px;
  margin-top: 5px;
  font-weight: 500;
}

.player-tab h3 span {
  margin: 0 50px;
}

/*Trophy Page*/
.trophyBanner {
  background-image: url('Image/Trophy.jpg');
  height: 100vh;
  background-size: cover;
}

.trophyWin {
  width: 90%;
  margin: 40px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: darkblue;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}


